 <!--Footer-->
 <footer>
    <div class="footer">
      <div id="grid1">
        <img src="/static/img/logodown.png" alt="Logo" class="logo" style="height:auto;">
        <p>Follow us on:</p>
        <div id="social">
          <a href="facebook.com"><i class='bx bxl-facebook-circle'></i></a>
          <a href="linkedin.com"><i class='bx bxl-linkedin-square'></i></a>
          <a href="twitter.com"><i class='bx bxl-twitter'></i></a>
          <a href="youtube.com"><i class='bx bxl-youtube'></i></a>
        </div>
      </div>
      <div id="grid2">
        <p>SMS</p>
        <div id="nav_links">
          <a href="#">HOME</a>
          <a href="#">ABOUT US</a>
          <a href="#">CATEGORIES</a>
          <a href="#">MY CART</a>
          <a href="#">CONTACTS</a>
          <a href="#">BLOG</a>
        </div>
      </div>
      <div id="grid3">
        <p><b>Important links</b></p>
        <div id="imp_links">
          <a href="#">Privacy Policy</a>
          <a href="#">FAQs</a>
          <a href="#">Terms of Service</a>
        </div>
      </div>
    </div>
    <p id="rights">Store Management System. All right Reserved</p>

  </footer>


